.createNote {
  display: flex;
  flex-direction: column;
  // justify-content: start;
  align-items: center;
  width: 300px;
  height: 300px;
  background-color: #bfc4ec;
  position: relative;
  border-radius: 15%;

  input {
    width: 267px;
    height: 20px;
    border: none;
    margin-bottom: 5px;
  }

  #createNote__input {
    width: 267px;
    max-width: 267px;
    height: 170px;
    max-height: 170px;
    resize: none;
    border: none;
  }

  .createNote__btn {
    margin: 15px 0;
    cursor: pointer;
    border: none;
    background-color: aliceblue;
  }
}

input.ng-invalid.ng-touched {
  border: solid 1px red;
}

.alert {
  position: absolute;
  top: 13%;
  color: #fb3333;
}
