.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;

  .note-item {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    width: 280px;
    height: 300px;
    margin-top: 50px;
    background-color: #bfdeec;
    border-radius: 15%;
    margin: 10px 10px;

    .desription {
      margin: 0 10px;
      align-self: start;
    }

    .update-btns {
      display: flex;
      margin-top: 30px;
      margin-left: 190px;
      cursor: pointer;

      span {
        margin: 0 10px;
      }
    }
  }
}
