.wrapper {
  display: flex;
  flex-wrap: wrap;
  // margin: 0 auto;
  margin-top: 40px;
  margin-left: 20px;

  .note-item {
    display: flex;
    flex-direction: column;

    width: 280px;
    height: 250px;
    background-color: #bfdeec;
    border-radius: 15%;
    margin: 10px 10px;

    .note-header {
      display: flex;
      justify-content: space-between;
      margin: 20px 27px 0;
      cursor: pointer;

      .title {
        margin: 5px;
        text-transform: uppercase;
        overflow-x: scroll;
        overflow-wrap: anywhere;
      }

      .control-note {
        display: flex;
        width: 69px;
      }

      span {
        margin: 0 5px;
      }
    }

    .desription {
      margin: 5px 17px 20px;
      height: 153px;
      align-self: start;
      overflow-y: scroll;
    }

    .update-btn {
      width: min-content;
      margin: 0 auto;
      margin-bottom: 15px;
    }
  }
}
