<div class="wrapper">
  <ng-container *ngIf="notes[0]">
    <div class="note-item" *ngFor="let note of notes">
      <div class="note-header">
        <h3 class="title">{{ note.title }}</h3>
        <div class="control-note">
          <span class="material-symbols-outlined"> edit_note </span>
          <span class="material-symbols-outlined" (click)="delete(note.id)"> delete </span>
        </div>
      </div>
      <p class="desription">
        {{ note.body }}
      </p>
      <button class="update-btn">update</button>
    </div>
  </ng-container>
</div>
