.note-item {
  display: flex;
  flex-direction: column;

  width: 300px;
  height: 250px;
  background-color: #bfdeec;
  border-radius: 15%;
  margin: 10px 10px;

  .note-header {
    display: flex;
    justify-content: space-between;
    margin: 20px 27px 0;
    cursor: pointer;

    .title {
      margin: 5px;
      text-transform: uppercase;
      overflow-x: scroll;
    }

    #updateTitle {
      width: 200px;
      height: 20px;
      margin-left: -10px;
      resize: none;
      border: none;
      background-color: aliceblue;
    }

    .control-note {
      display: flex;
      width: 69px;
    }

    span {
      margin: 0 5px;
    }
  }

  .desription {
    margin: 5px 17px 20px;
    height: 153px;
    align-self: start;
    overflow-y: scroll;
  }

  .updateDesription {
    margin: 5px 17px 20px;
    height: 153px;
    width: 242px;
    resize: none;
    border: none;
    background-color: aliceblue;
  }

  .update-btn {
    width: min-content;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .tags {
    margin-left: 17px;

    .tag {
      padding-right: 5px;
    }
  }
}

.bg-blue {
  background-color: lightblue;
}
.bg-pink {
  background-color: lightcoral;
}
.bg-blue-dark {
  background-color: #86c5da;
}
.bg-pink-dark {
  background-color: #eb5252;
}
