<ng-container *ngIf="notes[0]">
  <div class="note-item">
    <div class="note-header">
      <h3 class="title" *ngIf="!isToggled">{{ note.title }}</h3>
      <textarea name="" id="updateTitle" cols="30" rows="10" *ngIf="isToggled" [(ngModel)]="titleForUpdate">{{
        note.title
      }}</textarea>
      <div class="control-note">
        <span class="material-symbols-outlined" (click)="changeToUpdate()"> edit_note </span>
        <span class="material-symbols-outlined" (click)="delete(note.id)"> delete </span>
      </div>
    </div>
    <p class="desription" *ngIf="!isToggled">
      {{ note.body }}
    </p>
    <textarea class="updateDesription" *ngIf="isToggled" [(ngModel)]="bodyForUpdate">
        {{ note.body }}
      </textarea
    >
    <button class="update-btn" (click)="update(note.id)" (click)="changeToUpdate()" *ngIf="isToggled">update</button>
  </div>
</ng-container>
